.WalkUpConfirm {
  text-align: center;
  max-width: 400px;
  margin: auto;
}
.WalkUpShifts {
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
}
.WalkUpShifts-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;
}
.WalkUpShifts-header h1 {
  margin: 0;
}
.WalkUpShifts-body {
  margin: 0 auto;
  padding: 10px;
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}
.ShiftCard {
  padding: 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px #ccc;
}
.ShiftCard h3,
.ShiftCard h4 {
  margin: 10px 0;
  font-weight: 500;
}
.ShiftCard[data-weekday="Sun"] {
  background-color: hsl(0, 50%, 85%);
}
.ShiftCard[data-weekday="Fri"] {
  background-color: hsl(51, 50%, 85%);
}
.ShiftCard[data-weekday="Wed"] {
  background-color: hsl(103, 50%, 85%);
}
.ShiftCard[data-weekday="Mon"] {
  background-color: hsl(154, 50%, 85%);
}
.ShiftCard[data-weekday="Sat"] {
  background-color: hsl(206, 50%, 85%);
}
.ShiftCard[data-weekday="Thu"] {
  background-color: hsl(257, 50%, 85%);
}
.ShiftCard[data-weekday="Tue"] {
  background-color: hsl(309, 50%, 85%);
}
