/* Typography */
@import url('https://fonts.googleapis.com/css?family=Dosis:500,700|Roboto+Condensed:400,700&display=swap&subset=latin-ext');

:root {
    --heading-family: 'Dosis', system-ui, -apple-system, sans-serif;
    --body-family: 'Roboto Condensed', system-ui, -apple-system, sans-serif;
}

#react-root,
#react-root * {
    font-family: var(--body-family);
}
#react-root h1,
#react-root h2,
#react-root h3,
#react-root h4,
#react-root h5,
#react-root h6 {
    font-family: var(--heading-family);
}
#react-root .material-icons {
    font-family: 'Material Icons' !important;
}

/* basic padding, etc */

div.nav {
    padding: 0 5px;
}
div.nav + div {
    padding: 0 10px
}

/* Polybius styles */

.onTop {
    position: fixed;
    z-index: 100000000 !important;
}
.under{
    position: relative !important;
}

.homeBig{
    margin: 40px auto 0;
    padding: 10px 20px;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}
.homeBig > div {
    padding: 0 16px 8px;
    border: 2px solid #19375f;
}

.homeBigger h1 {
    text-align: center;
    color: #19375f;
}

body {
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.Dialog{
    background-image:url(https://raw.githubusercontent.com/ConOps/conops/master/BG.png);
    background-size: 700px;
}

.main{
    text-align: center;
    padding-top: 0px;
}

/* .form {} */
    /* background-position: center;
    background-image: url(https://raw.githubusercontent.com/ConOps/conops/master/LogoBlackedOut.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: unset;
} */



.log-in, .log-out, .register {
    font-family: var(--heading-family) !important;

  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
  font-family: var(--heading-family) !important;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
    font-family: var(--heading-family) !important;

}

.eventsForNonAdmins {
    margin-top: 8%;
}

.Accordion {
    margin-bottom: 10px;
}

/* Table improvements on narrow screens */

#react-root table,
#react-root .MuiTable-root {
    /* cap width at width of parent container */
    max-width: 100%;
    /* use block because table can break out at times */
    display: block;
    /* use horizontal scrolling  */
    overflow-x: scroll;
}
#react-root .MuiExpansionPanelDetails-root {
    /* make sure the table extends to the edges of the panel */
    padding: 0;
}
#react-root table th,
#react-root .MuiTable-root th {
    font-weight: 700;
    line-height: 1;
    background-color: #e0e0e0;
}
#react-root table td,
#react-root .MuiTable-root td {
    line-height: 1.2;
}

/* visual indicators of side-scrollable tables */
#react-root .MuiPaper-root > div + div {
    /* light gray to transparent gradients at the parent's edges */
    background: linear-gradient(to right, #e0e0e0 0%, transparent 2rem, transparent),
                linear-gradient(to left,  #e0e0e0 0%, transparent 2rem, transparent);
}
#react-root .MuiTableRow-root {
    /* white, wide enough to cover gray background, to transparent gradients at the table's edges */
    background: linear-gradient(to right, #fff 0%, #fff 2rem, transparent 6rem, transparent),
                linear-gradient(to left,  #fff 0%, #fff 2rem, transparent 6rem, transparent);
}
#react-root .MuiTableRow-root:empty {
    display: none;
}