.filter-shift {
    display: inline-block;
    padding: 10px;
    max-width: 180px;
    margin: 20px 0;
}
.volunteer-portal-department, 
.volunteer-portal-time {
    font-size: 1.5em;
    display: inline-block;
    width: 50%;
}
.volunteer-portal-time{
    text-align: right;
}
.card-header-cell{
    width: 50%;

}
@media screen and (max-width: 1024px){
    img.bg {
        left: 50%;
        margin-left: -512px; }
}