.filter-shift {
    display: inline-block;
    padding: 10px;
    max-width: 180px;
    margin: 0px 0;
}
.filter-buttons{
    display: inline-block;
    padding: 10px;;
    margin: 0px 0;
}
.volunteer-portal-department, 
.volunteer-portal-time {
    font-size: 1.5em;
    display: inline-block;
    width: 50%;
}
.volunteer-portal-time{
    text-align: right;
}
.card-header-cell{
    width: 50%;

}

.VolunteerPortal {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
}
.PortalCard {
    margin: 10px 0;
}
.PortalCard .cardDepartment,
.PortalCard .cardDateTime {
    margin: 0;
    font-weight: 500;
}
.PortalCard .cardDepartment strong,
.PortalCard .cardDateTime strong {
    font-weight: 700;
}
.PortalCard .cardHeading + table {
    margin: 20px auto 10px;
    display: table !important;
}

@media screen and (max-width: 1024px){
    img.bg {
        left: 50%;
        margin-left: -512px; }
}